<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=yes">
        <meta name="description" content="">
   
    <link rel="icon" href="images/favicon.ico">
<title>FIXT</title>
	<!-- cusome style-->
    <link rel="stylesheet" type="text/css" href="css/fixt-style.css" />
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
   <link href="css/bootstrap-theme.min.css" rel="stylesheet">
   

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   
</head>

<body>
<header>
<div class="colTop-1-1"><a href="home.html" style="text-decoration : none; color : #ffffff;">FIXT </a></div>

<div class="colTop-2-1">
<div class="colTop-2-2"><span class="hSpace"><img src="images/icon_faq.png" width="30" height="30" alt="faq"/></span>
</div><div class="colTop-2-2"><img src="images/dashLine.png" width="1" height="30" alt=""/></div>
<div class="colTop-2-2"><span class="hSpace"><img src="images/icon_user.png" width="18" height="24" alt=""/><span class="tSpace">My Profile</span></span></div>
</div>
</header>
<!--------UPDATED IN VERSION 9 --------------->
<div class="searchTab">

  
      <div class="searchBox">
		    <div class="input-group">
            	 <div class="input-group-btn search-panel">
                    <button type="button" class=" dropdown-toggle btnstyle" data-toggle="dropdown">
                    	<span class="lftAlign">Select</span> <span class="rtAlign"><img src="images/dropdwn-arrow.png" width="18" height="10" alt=""/></span>
                    </button>
                    <ul class="dropdown-menu greybg" role="menu">
                      <li><a href="#">Customer</a></li>
                      <li><a href="#">MCN</a></li>
                      <li><a href="#">Vendor ID</a></li>
                      <li><a href="#">CSS#</a></li>
                      <li><a href="#">Fooreign Account#</a></li>
                      <li><a href="#">Contract</a></li>
                       <li><a href="#">Address</a></li>
                       <li><a href="#">Inventory Element ID</a></li>
                       <li><a href="#">Account</a></li>
                  </ul>
                </div>
                     <input type="text" class="searchstyle" id="" placeholder="Search" /> <input type="lence">
            </div>
  </div>
</div><!--------------searchTab ends------------------------><!--------UPDATED IN VERSION 9 ENDS--------------->
    
    
     
            
    <div id="container">
    <div class="borderline" ></div>        
 <!--************* responsive colum layout starts here**********************************----->
        <div class="row">
        <!--Row with two equal columns-->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                
              <div class="sandboxTitle"><img src="images/sandBox-icon.png" width="27" height="27" alt=""/><span class="titleAlign" contenteditable="true">Walmart</span></div>
            </div>
            <div class="col-xs-8 col-sm-7  col-md-6 col-lg-6">
            	<div class="sandboxElements">
                <div class="iconBox" align="center"><span id='close_del'><img src="images/sbx-icon-delate.png" width="17" height="21" alt=""/><br>Delete</span></div>
                <div class="iconBox" align="center"><span><img src="images/sbx-icon-clear.png" width="22" height="22" alt=""/></span><br>Clear All</div>
                		<div class="iconBox" align="center"><span><img src="images/sbx-icon-save.png" width="24" height="22" alt=""/></span><br>Save</div>
           		  <div class="elementBorder" ></div>
           		  <div class="iconBox" align="center"><span><img src="images/sbx-icon-unify.png" width="15" height="19" alt=""/></span><br>Unify</div>
           		  <div class="iconBox" align="center"><span><img src="images/sbx-icon-relink.png" width="22" height="19" alt=""/></span><br>Relink</div>
           	  </div>
            </div>
       </div>
       <div class="cardCver">
 <div class="cardExpand">
  <div class="sBxbox1-2"><span id='close'><img src="images/btn-close-sml.png" width="12" height="10" alt=""/></span></div>
  
 
	<div class="crdExpheader">
		<div class="crdExptitle omnReg">Walmart SA12345678123- State DC</div>
		<div class="sBxaction">
			<div class="sBxbox1-1">
            
            <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>Actions</span> <span><img src="images/dropdwn-arrow-rt.png" width="30" height="9" alt=""/></span></a>
       
        <ul class="dropdown-menu bullet pull-right">
          <li><a href="#"><span class="imgBox  dropeHeight"><img src="images/icon_create.png" width="16" height="18" alt=""/></span>Create Node</a></li>
          <li><a href="#"><span class="imgBox dropeHeight"><img src="images/icon_export.png" width="16" height="16" alt=""/></span>Export</a></li>
          <li><a href="#"><span class="imgBox dropeHeight"><img src="images/icon_jump.png" width="16" height="16" alt=""/></span>Go to EUAM</a></li> 
        </ul>
      </div>
            
            </div>
				
				
			</div><!---sBxaction end-->
	</div><!---sBxheader end-->

<div class="crdExpComoncol">
		<div class="crdExpLeftcol">
        <div class="cardNode1-1"><span class="omnMed">C:</span> Walmart 0123456-W-S</div>
        <div class="cardNode1-2"><span class="omnMed">H:</span> 98776543123-W-South</div>
        <div class="cardNode1-3"><span class="omnMed">BA:</span> 123456753567-W-South</div>
        <div class="cardNode1-4"> <span class="omnMed">I<span class="blueTx">(UM)</span>:</span> 12341234-Southh</div>
        <div class="cardNode1-5"><span class="omnMed">CCG:</span> 00321-Walmart group</div>
        <div class="cardNode1-6"><span class="omnMed"> SA:</span> 123512351235 W-South</div>
        <div class="cardNode1-7"><span class="omnMed">SITE:</span> 90459669</div>
        <div class="cardNode1-8"><span class="txtBg"><span class="omnMed">AVPNPRT:</span> 2339524</span></div>
        
   
		</div><!-- cardExpLeftcol end-->
		<div class="crdExpMidcol"></div>
		<div class="crdExpRightcol">
			<ul class="nav expdtl nav-tabs expand">
  <li class="active"><a data-toggle="tab" href="#home">Over view</a></li>
  <li><a data-toggle="tab" href="#menu1">Charges</a></li>
  <li><a data-toggle="tab" href="#menu2">Telephone Numbers</a></li>
  
</ul>
<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
   <div class="crdTabComoncol">
   		<div class="crdTabLeftcol">
  			<div class="colQsAns">
            	<div class="colQs">Type:</div>
                <div class="colAns">IP Service</div>
                <div class="colQs">Start Date:</div>
                <div class="colAns">05/01/2015</div>
                <div class="colQs">Type of access:</div>
                <div class="colAns">###########</div>
            	<div class="colQs">Speed:</div>
                <div class="colAns">###########</div>
                <div class="colQs">Circute ID:</div>
                <div class="colAns">###########</div>
                <div class="colQs">Concurent calls:</div>
                <div class="colAns">###########</div>
                <div class="colQs">Sequence:</div>
                <div class="colAns">###########</div>
            </div>
		</div><!--crdTabLeftcol end-->
   		<div class="crdTabMidcol"></div>
   		<div class="crdTabRightcol">
        	<div class="colQsAns">
            <div class="colTitl">Service Location Address</div>
            	<div class="colQs">Address line 1:</div>
                <div class="colAns">###########</div>
                <div class="colQs">Address line 2:</div>
                <div class="colAns">###########</div>
                <div class="colQs">City:</div>
                <div class="colAns">###########</div>
                <div class="colQs">State:</div>
                <div class="colAns">###########</div>
                <div class="colQs">Country:</div>
                <div class="colAns">###########</div>
                <div class="colQs">Zip:</div>
                <div class="colAns">###########</div>
                <div class="colQs">GEO Code:</div>
                <div class="colAns">###########</div>
                <div class="colQs">GLID:</div>
                <div class="colAns">###########</div>
            </div>
		</div><!--crdTabRightcol Ends----->
   </div><!---crdTabComoncolEnds----->
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Wallmart- Details</h3>
    <p>Some content in Pending.</p>
  </div>
   <div id="menu2" class="tab-pane fade">
    <h3>Wallmart- Details</h3>
    <p>Some content in Pending.</p>
  </div>
</div>





		</div><!-- sandBoxRightcol end-->
        </div><!---sandBoxComoncol end-->
        <div class="crdExpfooter">
        	<div class="crdExpfooterLeft">Back to card view</div>
            
        </div><!-- sBxfooter end-->
	</div><!---card expand end-->
        </div><!--card cover ends-->
        
        <!--Row with two columns divided in 1:3 ratio
        <div class="row">
            <div class="col-sm-3">
                <div class="demo-content">.col-sm-3</div>
            </div>
            <div class="col-sm-9">
                <div class="demo-content bg-alt">.col-sm-9</div>
            </div>
       -->
  
    
   
</div><!-- container end-->


  



  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- keep at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    
     <!--######Sceript for editable text area##############--------------->
 <script type="text/javascript">
function exchange(id){
var ie=document.all&&!window.opera? document.all : 0
var frmObj=ie? ie[id] : document.getElementById(id)
var toObj=ie? ie[id+'b'] : document.getElementById(id+'b')
toObj.style.width=frmObj.offsetWidth+22+'px'
frmObj.style.display='none';
toObj.style.display='block';
toObj.value=frmObj.innerHTML
}
</script>

<!-- Card Coser Script---------------------->

<script>
window.onload = function(){
    document.getElementById('close').onclick = function(){
        this.parentNode.parentNode.parentNode
        .removeChild(this.parentNode.parentNode);
        return false;
    };
	
	
		 document.getElementById('close_del').onclick = function(){
        this.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode
        .removeChild(this.parentNode.parentNode.parentNode.parentNode.parentNode);
        return false;
    };
};
</script>
<!---------------------------------------------------------------> 
  </body>
</html>
