<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=yes">
        <meta name="description" content="">
   
    <link rel="icon" href="images/favicon.ico">
<title>FIXT</title>
	<!-- cusome style-->
    <link rel="stylesheet" type="text/css" href="css/fixt-style.css" />
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
   <link href="css/bootstrap-theme.min.css" rel="stylesheet">
   
 
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    

   
</head>

<body>
<header>
<div class="colTop-1-1"><a href="home.html" style="text-decoration : none; color : #ffffff;">FIXT </a></div>

<div class="colTop-2-1">
<div class="colTop-2-2"><span class="hSpace"><img src="images/icon_faq.png" width="30" height="30" alt="faq"/></span>
</div><div class="colTop-2-2"><img src="images/dashLine.png" width="1" height="30" alt=""/></div>
<div class="colTop-2-2"><span class="hSpace"><img src="images/icon_user.png" width="18" height="24" alt=""/><span class="tSpace">My Profile</span></span></div>
</div>
</header>
<!--------UPDATED IN VERSION 9 --------------->
<div class="searchTab">
	<div class="searchBox">
		    <div class="input-group">
            	 <div class="input-group-btn search-panel">
                    <button type="button" class=" dropdown-toggle btnstyle" data-toggle="dropdown">
                    	<span class="lftAlign">Select</span> <span class="rtAlign"><img src="images/dropdwn-arrow.png" width="18" height="10" alt=""/></span>
                    </button>
                    <ul class="dropdown-menu greybg" role="menu">
                      <li><a href="#">Customer</a></li>
                      <li><a href="#">MCN</a></li>
                      <li><a href="#">Vendor ID</a></li>
                      <li><a href="#">CSS#</a></li>
                      <li><a href="#">Fooreign Account#</a></li>
                      <li><a href="#">Contract</a></li>
                       <li><a href="#">Address</a></li>
                       <li><a href="#">Inventory Element ID</a></li>
                       <li><a href="#">Account</a></li>
                  </ul>
                </div>
                     <input type="text" class="searchstyle" id="" placeholder="Search" /> <input type="lence">
            </div>
  	</div>
</div><!--------------searchTab ends------------------------><!--------UPDATED IN VERSION 9 ENDS--------------->
<div id="container">
<!--************* responsive colum layout starts here**********************************----->
<div class="cardCver">
 <div class="srchRsltBox">
  <div class="sBxbox1-2"><span id='close'><img src="images/btn-close-sml.png" width="12" height="10" alt=""/></span></div>
  <div class="srchRsltHeader">
		<div class="srchRslTitl">Search Result:</div>
        <div class="tagContainer">
        	<div class="srchTagBox"><span class="srchtagItem">Walmart</span><div class="tagClosr"><span id='close_tag1'><img src="images/icn-close-gray.png" width="14" height="14" alt=""/></span></div></div>
           <div class="srchTagBox"><span class="srchtagItem">Zip123</span><div class="tagClosr"><span id='close_tag2'><img src="images/icn-close-gray.png" width="14" height="14" alt=""/></span></div></div>
           <div class="tagClear"><span id='close_tag3'>Clear tags</span></div>
        </div>
	</div><!---srchRsltHeader end-->
    <div class="sBxbox1-2"><div class="addSearch"><span class="addSearchItem">Add to Sandbox</span></div></div>
    <div class="srchDisply">Displaying 10 of 400 Results</div><!---srchDisply end-->
    <!------srchInfo 1 Starts-------------------------->
    <div class="srchInfo">
    	<div class="srchTtlDtls">
        	<div class="chkHoldr"><input type="checkbox"  value="val" id="thing1"/><label for="thing1"></label></div> <div class="rsltDtlsCol"> <div class="srchDtCnt-a">Walmart CDG 000012</div><div class="srchDtContainr"><span class="srchDtCnt-b">ID</span><span class="srchDtCnt-C">1112221</span><span class="srchDtCnt-b">Label</span><span class="srchDtCnt-C">Walmart West</span><span class="srchDtCnt-b">Start Date</span><span class="srchDtCnt-C">10/14/2014</span><span class="srchDtCnt-b">Address</span><span class="srchDtCnt-C">123 Main street Dallas TX12345</span> </div></div><!--check box container end------>
       	</div><!-----srchTtlDtls Ends------------------------>
         <span class="expandInfo"><img src="images/Hrchy-expand.jpg" width="20" height="20" alt=""/></span>
    </div>
    <!------srchInfo 1 end-------------------------->
    <div class="brdrInf"></div><!--border------------------>
    <div class="srchInfo"><!------srchInfo 2 Starts-------------------------->
    	<div class="srchTtlDtls">
        	<div class="chkHoldr"><input type="checkbox"  value="val" id="thing2"/><label for="thing2"></label></div> <div class="rsltDtlsCol"> <div class="srchDtCnt-a">Walmart CDG 000012</div><div class="srchDtContainr"><span class="srchDtCnt-b">ID</span><span class="srchDtCnt-C">1112221</span><span class="srchDtCnt-b">Label</span><span class="srchDtCnt-C">Walmart West</span><span class="srchDtCnt-b">Start Date</span><span class="srchDtCnt-C">10/14/2014</span><span class="srchDtCnt-b">Address</span><span class="srchDtCnt-C">123 Main street Dallas TX12345</span> </div></div><!--check box container end------>
         </div><!-----srchTtlDtls Ends------------------------>
         <span class="expandInfo"><img src="images/Hrchy-collapse.jpg" width="20" height="20" alt=""/></span>
         <div class="srchExpDtls"><!----start-quick info----->
         <div class="loader"></div><!--Loader  section----->
         
         </div><!----End-quick info----->
    </div><!------srchInfo 2 end-------------------------->
    <div class="brdrInf"></div><!--border------------------>
	   <!------srchInfo 3 Starts-------------------------->
    <div class="srchInfo">
    	<div class="srchTtlDtls">
        	<div class="chkHoldr"><input type="checkbox"  value="val" id="thing3"/><label for="thing3"></label></div> <div class="rsltDtlsCol"> <div class="srchDtCnt-a">Walmart CDG 000012</div><div class="srchDtContainr"><span class="srchDtCnt-b">ID</span><span class="srchDtCnt-C">1112221</span><span class="srchDtCnt-b">Label</span><span class="srchDtCnt-C">Walmart West</span><span class="srchDtCnt-b">Start Date</span><span class="srchDtCnt-C">10/14/2014</span><span class="srchDtCnt-b">Address</span><span class="srchDtCnt-C">123 Main street Dallas TX12345</span> </div></div><!--check box container end------>
       	</div><!-----srchTtlDtls Ends------------------------>
         <span class="expandInfo"><img src="images/Hrchy-expand.jpg" width="20" height="20" alt=""/></span>
    </div>
    <!------srchInfo 3 end-------------------------->
    <div class="brdrInf"></div><!--border------------------>
    
       <!------srchInfo 4 Starts-------------------------->
    <div class="srchInfo">
    	<div class="srchTtlDtls">
        	<div class="chkHoldr"><input type="checkbox"  value="val" id="thing4"/><label for="thing4"></label></div> <div class="rsltDtlsCol"> <div class="srchDtCnt-a">Walmart CDG 000012</div><div class="srchDtContainr"><span class="srchDtCnt-b">ID</span><span class="srchDtCnt-C">1112221</span><span class="srchDtCnt-b">Label</span><span class="srchDtCnt-C">Walmart West</span><span class="srchDtCnt-b">Start Date</span><span class="srchDtCnt-C">10/14/2014</span><span class="srchDtCnt-b">Address</span><span class="srchDtCnt-C">123 Main street Dallas TX12345</span> </div></div><!--check box container end------>
       	</div><!-----srchTtlDtls Ends------------------------>
         <span class="expandInfo"><img src="images/Hrchy-expand.jpg" width="20" height="20" alt=""/></span>
    </div>
    <!------srchInfo 4 end-------------------------->
    <div class="brdrInf"></div><!--border------------------>
    
       <!------srchInfo 5 Starts-------------------------->
    <div class="srchInfo">
    	<div class="srchTtlDtls">
        	<div class="chkHoldr"><input type="checkbox"  value="val" id="thing5"/><label for="thing5"></label></div> <div class="rsltDtlsCol"> <div class="srchDtCnt-a">Walmart CDG 000012</div><div class="srchDtContainr"><span class="srchDtCnt-b">ID</span><span class="srchDtCnt-C">1112221</span><span class="srchDtCnt-b">Label</span><span class="srchDtCnt-C">Walmart West</span><span class="srchDtCnt-b">Start Date</span><span class="srchDtCnt-C">10/14/2014</span><span class="srchDtCnt-b">Address</span><span class="srchDtCnt-C">123 Main street Dallas TX12345</span> </div></div><!--check box container end------>
       	</div><!-----srchTtlDtls Ends------------------------>
         <span class="expandInfo"><img src="images/Hrchy-expand.jpg" width="20" height="20" alt=""/></span>
    </div>
    <!------srchInfo 5 end-------------------------->
    <div class="brdrInf"></div><!--border------------------>
       <!------srchInfo 6 Starts-------------------------->
    <div class="srchInfo">
    	<div class="srchTtlDtls">
        	<div class="chkHoldr"><input type="checkbox"  value="val" id="thing6"/><label for="thing6"></label></div> <div class="rsltDtlsCol"> <div class="srchDtCnt-a">Walmart CDG 000012</div><div class="srchDtContainr"><span class="srchDtCnt-b">ID</span><span class="srchDtCnt-C">1112221</span><span class="srchDtCnt-b">Label</span><span class="srchDtCnt-C">Walmart West</span><span class="srchDtCnt-b">Start Date</span><span class="srchDtCnt-C">10/14/2014</span><span class="srchDtCnt-b">Address</span><span class="srchDtCnt-C">123 Main street Dallas TX12345</span> </div></div><!--check box container end------>
       	</div><!-----srchTtlDtls Ends------------------------>
         <span class="expandInfo"><img src="images/Hrchy-expand.jpg" width="20" height="20" alt=""/></span>
    </div>
    <!------srchInfo 6 end-------------------------->
    <div class="brdrInf"></div><!--border------------------>
       <!------srchInfo 7 Starts-------------------------->
    <div class="srchInfo">
    	<div class="srchTtlDtls">
        	<div class="chkHoldr"><input type="checkbox"  value="val" id="thing7"/><label for="thing7"></label></div> <div class="rsltDtlsCol"> <div class="srchDtCnt-a">Walmart CDG 000012</div><div class="srchDtContainr"><span class="srchDtCnt-b">ID</span><span class="srchDtCnt-C">1112221</span><span class="srchDtCnt-b">Label</span><span class="srchDtCnt-C">Walmart West</span><span class="srchDtCnt-b">Start Date</span><span class="srchDtCnt-C">10/14/2014</span><span class="srchDtCnt-b">Address</span><span class="srchDtCnt-C">123 Main street Dallas TX12345</span> </div></div><!--check box container end------>
       	</div><!-----srchTtlDtls Ends------------------------>
         <span class="expandInfo"><img src="images/Hrchy-expand.jpg" width="20" height="20" alt=""/></span>
    </div>
    <!------srchInfo 7 end-------------------------->
    <div class="brdrInf"></div><!--border------------------>
       <!------srchInfo 8 Starts-------------------------->
    <div class="srchInfo">
    	<div class="srchTtlDtls">
        	<div class="chkHoldr"><input type="checkbox"  value="val" id="thing8"/><label for="thing8"></label></div> <div class="rsltDtlsCol"> <div class="srchDtCnt-a">Walmart CDG 000012</div><div class="srchDtContainr"><span class="srchDtCnt-b">ID</span><span class="srchDtCnt-C">1112221</span><span class="srchDtCnt-b">Label</span><span class="srchDtCnt-C">Walmart West</span><span class="srchDtCnt-b">Start Date</span><span class="srchDtCnt-C">10/14/2014</span><span class="srchDtCnt-b">Address</span><span class="srchDtCnt-C">123 Main street Dallas TX12345</span> </div></div><!--check box container end------>
       	</div><!-----srchTtlDtls Ends------------------------>
         <span class="expandInfo"><img src="images/Hrchy-expand.jpg" width="20" height="20" alt=""/></span>
    </div>
    <!------srchInfo 8 end-------------------------->
    <div class="brdrInf"></div><!--border------------------>
       <!------srchInfo 9 Starts-------------------------->
    <div class="srchInfo">
    	<div class="srchTtlDtls">
        	<div class="chkHoldr"><input type="checkbox"  value="val" id="thing9"/><label for="thing9"></label></div> <div class="rsltDtlsCol"> <div class="srchDtCnt-a">Walmart CDG 000012</div><div class="srchDtContainr"><span class="srchDtCnt-b">ID</span><span class="srchDtCnt-C">1112221</span><span class="srchDtCnt-b">Label</span><span class="srchDtCnt-C">Walmart West</span><span class="srchDtCnt-b">Start Date</span><span class="srchDtCnt-C">10/14/2014</span><span class="srchDtCnt-b">Address</span><span class="srchDtCnt-C">123 Main street Dallas TX12345</span> </div></div><!--check box container end------>
       	</div><!-----srchTtlDtls Ends------------------------>
         <span class="expandInfo"><img src="images/Hrchy-expand.jpg" width="20" height="20" alt=""/></span>
    </div>
    <!------srchInfo 9 end-------------------------->
    <div class="brdrInf"></div><!--border------------------>
       <!------srchInfo 10 Starts-------------------------->
    <div class="srchInfo">
    	<div class="srchTtlDtls">
        	<div class="chkHoldr"><input type="checkbox"  value="val" id="thing10"/><label for="thing10"></label></div> <div class="rsltDtlsCol"> <div class="srchDtCnt-a">Walmart CDG 000012</div><div class="srchDtContainr"><span class="srchDtCnt-b">ID</span><span class="srchDtCnt-C">1112221</span><span class="srchDtCnt-b">Label</span><span class="srchDtCnt-C">Walmart West</span><span class="srchDtCnt-b">Start Date</span><span class="srchDtCnt-C">10/14/2014</span><span class="srchDtCnt-b">Address</span><span class="srchDtCnt-C">123 Main street Dallas TX12345</span> </div></div><!--check box container end------>
       	</div><!-----srchTtlDtls Ends------------------------>
         <span class="expandInfo"><img src="images/Hrchy-expand.jpg" width="20" height="20" alt=""/></span>
    </div>
    <!------srchInfo 10 end-------------------------->
    <div class="brdrInFull"></div><!--border------------------>
    
<div class="srchInFooter">
<div class="Pgnsn"><img src="images/arrow_gry-lft.png" width="5" height="8" alt=""/></div>
  <div class="Pgnsn acton">1</div>
  <div class="Pgnsn">2</div>
  <div class="Pgnsn">3</div>
  <div class="Pgnsn">4</div>
  <div class="Pgnsn">5</div>
  <div class="Pgnsn">6</div>
  <div class="Pgnsn">7</div>
  <div class="Pgnsn">8</div>
  <div class="Pgnsn">...</div>
  <div class="Pgnsn">39</div>
  <div class="Pgnsn">40</div>
  <div class="Pgnsn"><img src="images/arrow_blu-rt.png" width="5" height="8" alt=""/></div>
	
</div><!----End srchInFooter---->

<!------------------------------------------------------------->        
		</div><!---srchRsltBox-->
	</div><!--card cover ends-->
    
    		    <div class="borderline" ></div>        
 <!--************* responsive colum layout starts here**********************************----->
        <div class="row">
        <!--Row with two equal columns-->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                
              <div class="sandboxTitle"><img src="images/sandBox-icon.png" width="27" height="27" alt=""/><span class="titleAlign" contenteditable="true">Untitled</span></div>
            </div>
            <div class="col-xs-8 col-sm-7  col-md-6 col-lg-6">
            	<div class="sandboxElements">
                <div class="iconBox" align="center"><span id='close_del'><img src="images/sbx-icon-delate.png" width="17" height="21" alt=""/><br>Delete</span></div>
                <div class="iconBox" align="center"><span><img src="images/sbx-icon-clear.png" width="22" height="22" alt=""/></span><br>Clear All</div>
                		<div class="iconBox" align="center"><span><img src="images/sbx-icon-save.png" width="24" height="22" alt=""/></span><br>Save</div>
           		  <div class="elementBorder" ></div>
           		  <div class="iconBox" align="center"><span><img src="images/sbx-icon-unify.png" width="15" height="19" alt=""/></span><br>Unify</div>
           		  <div class="iconBox" align="center"><span><img src="images/sbx-icon-relink.png" width="22" height="19" alt=""/></span><br>Relink</div>
           	  </div>
            </div>
       </div>
</div><!-- container end-->


  



  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- keep at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    
     <!--######Sceript for editable text area##############--------------->
 <script type="text/javascript">
function exchange(id){
var ie=document.all&&!window.opera? document.all : 0
var frmObj=ie? ie[id] : document.getElementById(id)
var toObj=ie? ie[id+'b'] : document.getElementById(id+'b')
toObj.style.width=frmObj.offsetWidth+22+'px'
frmObj.style.display='none';
toObj.style.display='block';
toObj.value=frmObj.innerHTML
}
</script>

<!-- Card Coser Script---------------------->
	
<script>
window.onload = function(){
    document.getElementById('close').onclick = function(){
        this.parentNode.parentNode.parentNode
        .removeChild(this.parentNode.parentNode);
        return false;
    };
	  document.getElementById('close_tag1').onclick = function(){
        this.parentNode.parentNode.parentNode
        .removeChild(this.parentNode.parentNode);
        return false;
    };
	
	  document.getElementById('close_tag2').onclick = function(){
        this.parentNode.parentNode.parentNode
        .removeChild(this.parentNode.parentNode);
        return false;
    };
	  document.getElementById('close_tag3').onclick = function(){
        this.parentNode.parentNode.parentNode
        .removeChild(this.parentNode.parentNode);
        return false;
    };
};
</script>

<!-- Script for check box "Select or Deselect all"------------------->
<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByName('adrs');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  
}
}
</script>
<!---------------------------------------------------------------> 
  </body>
</html>
