<div class="sandBox">
<h1>{{sandboxId}}</h1>
    <div class="sBxheader">
        <div contenteditable="true" class="sBxtitle" >Walmart SA12345678123- State DC</div>
        <div class="sBxaction">
            <div class="sBxbox1-1">
            
            <div class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span>Actions</span> <span><img src="../styles/images/dropdwn-arrow-sml.png" width="16" height="9" alt=""/></span></a>
       
        <ul class=" dropdown-menu ">
          <li><a href="#"><span class="imgBox"><img src="../styles/images/icon_create.png" width="16" height="18" alt=""/></span>Create Node</a></li>
          <li><a href="#"><span class="imgBox"><img src="../styles/images/icon_export.png" width="16" height="16" alt=""/></span>Export</a></li>
          <li><a href="#"><span class="imgBox"><img src="../styles/images/icon_jump.png" width="16" height="16" alt=""/></span>Go to EUAM</a></li> 
        </ul>
      </div>
            
            </div>
                
                <div class="sBxbox1-2"><img src="../styles/images/btn-close-sml.png" width="12" height="10" alt=""/></div>
            </div><!---sBxaction end-->
</div>

<div class="sandBoxComoncol">
        <div class="sandBoxLeftcol">
            <div class="bl_one"><div class="sbxFolder"><img src="../styles/images/icon_folder-sml.png" width="24" height="14"   alt=""/></div>
            <div class="sbxLeftItem">C: Walmart 09854-DC</div></div><br>
            <div class="bl_two"><div class="sbxFolder"><img src="../styles/images/icon_folder-sml.png" width="24" height="14"   alt=""/></div>
            <div class="sbxLeftItem">C: Walmart 09854-DC</div></div><br>
            <div class="bl_three"><div class="sbxFolder"><img src="../styles/images/icon_folder-sml.png" width="24" height="14"     alt=""/></div>
            <div class="sbxLeftItem">C: Walmart 09854-DC</div></div><br>
            <div class="bl_four"><div class="sbxFolder"><img src="../styles/images/icon_folder-sml.png" width="24" height="14"  alt=""/></div>
            <div class="sbxLeftItem">C: Walmart 09854-DC</div></div><br>
            <div class="bl_five"><div class="sbxFolder"><img src="../styles/images/icon_folder-sml.png" width="24" height="14"  alt=""/></div>
            <div class="sbxLeftItem">C: Walmart 09854-DC</div></div><br>
            <div class="bl_six"><div class="sbxFolder"><img src="../styles/images/icon_folder-sml.png" width="24" height="14"   alt=""/></div>
            <div class="sbxLeftItem">C: Walmart 09854-DC</div></div><br>
            
        </div><!-- sandBoxLeftcol end-->
        <div class="sandBoxMidcol"></div>
        <div class="sandBoxRightcol">
            <div class="sbxRightItem1-1">Field 1:</div>
            <div class="sbxRightItem1-2">###-###-###</div><br>
            <div class="sbxRightItem1-1">Field 2:</div>
            <div class="sbxRightItem1-2">###-###-###</div><br>
            <div class="sbxRightItem1-1">Field 3:</div>
            <div class="sbxRightItem1-2">###-###-###</div><br>
            <div class="sbxRightItem1-1">Field 4:</div>
            <div class="sbxRightItem1-2">###-###-###</div><br>
            <div class="sbxRightItem1-1">Field 5:</div>
            <div class="sbxRightItem1-2">###-###-###</div><br>
        </div><!-- sandBoxRightcol end-->
        <div class="sBxfooter">
            <div class="sBxfooter1-1">Explore hierarchy</div>
            <div class="sBxfooter1-2">More details</div>
        </div><!-- sBxfooter end-->
    </div>
