<div ng-controller="cardController as vm"> 
    <div cg-busy="{promise:vm.multiResultPromise,templateUrl:vm.templateUrl}">
    
        <div id="container" ng-if="vm.multiResultPromise !== null">
        
        <!--************* responsive colum layout starts here**********************************----->   
        <div class="cardCver">
            <div class="srchRsltBox">
                <div class="sBxbox1-2"><span id='close'><img src="styles/images/btn-close-sml.png" width="12" height="10" alt=""/></span></div>
                <fixt-search-list-heading show-record-count="vm.pageItemCount" enable-add="vm.selectedNodes.length > 0"></fixt-search-list-heading>
                
                <div class="search-list-body">
                    <div ng-repeat="item in vm.searchSummary">
                        <div class="srchInfo">
                            <div class="srchTtlDtls">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox_{{$index}}" type="checkbox" ng-model="vm.nodes[item.nodeDetail.nodeID]" ng-change="vm.onSateChange(item.nodeDetail.nodeID)">  
                                    <label for="checkbox_{{$index}}"> 
                                        <div class="srchDtCnt-a">{{item.nodeDetail.nodeLabel}} {{item.nodeDetail.nodeType}} {{item.nodeDetail.nodeID}}</div>
                                        <span class="srchDtCnt-b">ID</span>
                                        <span class="srchDtCnt-C">{{item.nodeDetail.nodeID}}</span>
                                        <span class="srchDtCnt-b">Label</span>
                                        <span class="srchDtCnt-C">{{item.nodeDetail.nodeLabel}}</span>
                                        <span class="srchDtCnt-b">Start Date</span>
                                        <span class="srchDtCnt-C">{{item.nodeDetail.startDate | fixtSplit:' ': 0|date: 'MM/dd/yyyy'}}</span>
                                        <span class="srchDtCnt-b">Address</span>
                                        <span class="srchDtCnt-C">123 Main street Dallas TX12345</span> 
                                    </label>
                                </div>
                            </div>
                            <span class="expandInfo pointer">
                                <img ng-src="{{!item.showQuickView ? 'styles/images/Hrchy-expand.jpg' : 'styles/images/Hrchy-collapse.jpg'}}" 
                                    width="20" height="20" alt="" ng-click="vm.onQuickViewClick(item.nodeDetail, $index)"/>
                            </span>
                            <div class="srchExpDtls" ng-if="item.showQuickView" 
                                cg-busy="{promise:vm.myPromise[$index],templateUrl:vm.templateUrl}" >{{vm.card}}
                                <div class="sdNodHrch box1-3 omnReg">
                                    <fixt-quick-view details="vm.card"></fixt-quick-view>
                                </div>
                            </div>
                        </div>
                        <div class="brdrInf"></div>
                    </div>
                </div>
                <!--<fixt-search-list search-list="vm.searchSummary" ></fixt-search-list>-->
                <fixt-search-list-pagination total-record="vm.totalSearchRecords" 
                    change-page="vm.onPageChangeClick(currentRecCount, pageItemCount)">
                </fixt-search-list-pagination>
            </div>
        </div>
    </div>
    <div cg-busy="{promise:vm.singleResultPromise,templateUrl:vm.templateUrl}">
    <div class="borderline" ></div>

    <div class="row">

        <div class="col-sm-6">
        <div class="sandboxTitle">
            <img src="styles/images/sandBox-icon.png" class="pointer" 
                ng-click="vm.onSanboxMenuClick()" width="27" height="27" alt=""/>
            <div style="display: inline-block;"
                ng-repeat="box in vm.sandBoxes | filter: {isActive: true} | limitTo: 1">
                <fixt-editable item="vm.title"></fixt-editable>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
            <div class="sandboxElements">
                <fixt-sand-box-button label="Delete" image="sbx-icon-delate.png"
                    height="21" width="17" button-click="vm.onDeleteClick()"></fixt-sand-box-button>
                <fixt-sand-box-button label="Clear All" image="sbx-icon-clear.png"
                    height="22" width="22" button-click="vm.onClearAllClick()"></fixt-sand-box-button>
                <fixt-sand-box-button label="Save" image="sbx-icon-save.png"
                    height="22" width="24" button-click="vm.onSaveSanboxClick()"></fixt-sand-box-button>
                <div class="elementBorder"></div>
                <fixt-sand-box-button label="Unify" image="sbx-icon-unify.png"
                    height="19" width="15" button-click=""></fixt-sand-box-button>
                <fixt-sand-box-button label="Relink" image="sbx-icon-relink.png"
                    height="19" width="22" button-click=""></fixt-sand-box-button>
            </div>
        </div>
    </div>
       
    <!--Row with two columns divided two equal columns-->
    <div class="row">
        <div ng-repeat="card in vm.cards" class="card-container"
            ng-if="vm.isCardExtendShow && (vm.cardExtDisplayId === card.nodeId)">
            <fixt-expanded-hierarchy 
                show-card-view-click="vm.onCardHierarchyClick(card.nodeId)" is-visible="true"
                details="card" open-new-card="vm.onOpenNewCardClick(id)"
                child-list="vm.cardChildList" close-click="vm.onCloseClick(card)"></fixt-expanded-hierarchy>
        </div>
        <div ng-repeat="card in vm.cards" class="card-container" 
            ng-if="vm.isCardDetailsShow && (vm.cardDetailsDisplayId === card.nodeId)">
            <fixt-card-detail-view details="card" close-click="vm.onCloseClick(card)"
                show-card-view-click="vm.onCardDetailsClick(card.nodeId)" ></fixt-card-detail-view>
        </div>
        <div ng-repeat="card in vm.cards | filter: {boxId: vm.activeBoxId}" class="card-container">
            <div ng-hide="(vm.isCardDetailsShow && (vm.cardDetailsDisplayId === card.nodeId)) || 
                        (vm.isCardExtendShow && (vm.cardExtDisplayId === card.nodeId))" 
                class="short-card-container">
                <fixt-card-view details-click="vm.onCardDetailsClick(card.nodeId)"
                    details="card" hierarchy-click="vm.onCardHierarchyClick(card.nodeId)"
                    close-click="vm.onCloseClick(card)"></fixt-card-view>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>