<div ng-controller="cardController as vm"> 
    <div id="container" >
        <!--************* responsive colum layout starts here**********************************----->   
        <div class="cardCver">
            <div class="srchRsltBox">
                <div class="sBxbox1-2"><span id='close'><img src="styles/images/btn-close-sml.png" width="12" height="10" alt=""/></span></div>
                <div class="srchRsltHeader">
                    <div class="srchRslTitl">Search Result:</div>
                    <div class="tagContainer">
                        <div class="srchTagBox"><span class="srchtagItem">Walmart</span><div class="tagClosr"><span id='close_tag1'><img src="styles/images/icn-close-gray.png" width="14" height="14" alt=""/></span></div></div>
                        <div class="srchTagBox"><span class="srchtagItem">Zip123</span><div class="tagClosr"><span id='close_tag2'><img src="styles/images/icn-close-gray.png" width="14" height="14" alt=""/></span></div></div>
                        <div class="tagClear"><span id='close_tag3'>Clear tags</span></div>
                    </div>
                </div><!---srchRsltHeader end-->
                <div class="sBxbox1-2"><div class="addSearch"><span class="addSearchItem">Add to Sandbox</span></div></div>
                <div class="srchDisply">Displaying 10 of 400 Results</div><!---srchDisply end-->
               <div ng-repeat="item in vm.searchSummary">
                    <div class="srchInfo">
                        <div class="srchTtlDtls">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox_{{$index}}" type="checkbox" ng-model="vm.nodes[item.nodeDetail.nodeID]" ng-change="vm.onSateChange(item.nodeDetail.nodeID)">  
                                <label for="checkbox_{{$index}}"> 
                                    <div class="srchDtCnt-a">{{item.nodeDetail.nodeLabel}} {{item.nodeDetail.nodeType}} {{item.nodeDetail.nodeID}}</div>
                                    <span class="srchDtCnt-b">ID</span>
                                    <span class="srchDtCnt-C">{{item.nodeDetail.nodeID}}</span>
                                    <span class="srchDtCnt-b">Label</span>
                                    <span class="srchDtCnt-C">{{item.nodeDetail.nodeLabel}}</span>
                                    <span class="srchDtCnt-b">Start Date</span>
                                    <span class="srchDtCnt-C">{{item.nodeDetail.startDate | fixtSplit:' ': 0|date: 'MM/dd/yyyy'}}</span>
                                    <span class="srchDtCnt-b">Address</span>
                                    <span class="srchDtCnt-C">123 Main street Dallas TX12345</span> 
                                </label>
                            </div>
                        </div>
                        <span class="expandInfo">
                            <img ng-src="{{!item.showQuickView ? 'styles/images/Hrchy-expand.jpg' : 'styles/images/Hrchy-collapse.jpg'}}" width="20" height="20" alt="" ng-click="vm.onClickQuickView(item.nodeDetail)"/>
                        </span>
                        <div class="srchExpDtls" ng-if="item.showQuickView"><!----start-quick info----->
                            <div class="sdNodHrch box1-3 omnReg"><!-- start 1st box----->
                                <div ng-repeat="item in vm.card.parentNodes">
                                    <div style="padding-left: {{$index*7}}px;">
                                        <div class="sbxLeftItem">
                                            <span ng-class="{'sbox-item-title':!($index < vm.card.parentNodes.length -1)}">
                                                <span style="font-weight: bold;">{{item |fixtSplit:': ' : 0}}: </span>
                                                {{item|fixtSplit:': ' : 1}}
                                            </span>
                                        </div>
                                    </div><br>
                                </div>
                            </div><!-- end 1st box----->
                            <div class="sdNodHrch box2-3"><!-- start 2nd box----->
                                <div class="nodDtCmn left">ID:</div>
                                <div class="nodDtCmn right">###-###-###</div>
                                <div class="nodDtCmn left">Node Start Date:</div>
                                <div class="nodDtCmn right">###-###-###</div>
                                <div class="nodDtCmn left">Node End Date:</div>
                                <div class="nodDtCmn right">###-###-###</div>
                                <div class="nodDtCmn left">Description:</div>
                                <div class="nodDtCmn right">###-###-###</div>
                            </div>  <!-- end 2nd box----->   
                            <div class="sdNodHrch box3-3"><!-- start 3rd box----->
                                <div class="nodDtCmn left">Source Biller ID:</div>
                                <div class="nodDtCmn right">###-###-###</div>
                                <div class="nodDtCmn left">Start Date:</div>
                                <div class="nodDtCmn right">###-###-###</div>
                                <div class="nodDtCmn left">Sub Account ID:</div>
                                <div class="nodDtCmn right">###-###-###</div>
                                <div class="nodDtCmn left">Parent Foreign ID acct :</div>
                                <div class="nodDtCmn right">###-###-###</div>
                            </div><!-- end 3rd box----->

                        </div><!----End-quick info----->
                    </div>
                    
                    <div class="brdrInf"></div>
                </div>
                <!--<fixt-search-list search-list="vm.searchSummary" ></fixt-search-list>-->
                <fixt-search-list-pagination total-record="400"></fixt-search-list-pagination>
            </div>
        </div>
    </div>

    <div class="borderline" ></div>

    <div class="row">

        <div class="col-sm-6">
        <div class="sandboxTitle">
            <img src="styles/images/sandBox-icon.png" class="pointer" 
                ng-click="vm.onSanboxMenuClick()" width="27" height="27" alt=""/>
            <div style="display: inline-block;"
                ng-repeat="box in vm.sandBoxes | filter: {isActive: true} | limitTo: 1">
                <fixt-editable item="vm.title"></fixt-editable>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
            <div class="sandboxElements">
                <fixt-sand-box-button label="Delete" image="sbx-icon-delate.png"
                    height="21" width="17" button-click="vm.onDeleteClick()"></fixt-sand-box-button>
                <fixt-sand-box-button label="Clear All" image="sbx-icon-clear.png"
                    height="22" width="22" button-click="vm.onClearAllClick()"></fixt-sand-box-button>
                <fixt-sand-box-button label="Save" image="sbx-icon-save.png"
                    height="22" width="24" button-click="vm.onSaveSanboxClick()"></fixt-sand-box-button>
                <div class="elementBorder"></div>
                <fixt-sand-box-button label="Unify" image="sbx-icon-unify.png"
                    height="19" width="15" button-click=""></fixt-sand-box-button>
                <fixt-sand-box-button label="Relink" image="sbx-icon-relink.png"
                    height="19" width="22" button-click=""></fixt-sand-box-button>
            </div>
        </div>
    </div>
       
    <!--Row with two columns divided two equal columns-->
    <div class="row">
        <div ng-repeat="card in vm.cards" class="card-container"
            ng-if="vm.isCardExtendShow && (vm.cardExtDisplayId === card.nodeId)">
            <fixt-expanded-hierarchy 
                show-card-view-click="vm.onCardHierarchyClick(card.nodeId)" is-visible="true"
                details="card" open-new-card="vm.onOpenNewCardClick(id)"
                child-list="vm.cardChildList" close-click="vm.onCloseClick(card)"></fixt-expanded-hierarchy>
        </div>
        <div ng-repeat="card in vm.cards" class="card-container" 
            ng-if="vm.isCardDetailsShow && (vm.cardDetailsDisplayId === card.nodeId)">
            <fixt-card-detail-view details="card" close-click="vm.onCloseClick(card)"
                show-card-view-click="vm.onCardDetailsClick(card.nodeId)" ></fixt-card-detail-view>
        </div>
        <div ng-repeat="card in vm.cards | filter: {boxId: vm.activeBoxId}" class="card-container">
            <div ng-hide="(vm.isCardDetailsShow && (vm.cardDetailsDisplayId === card.nodeId)) || 
                        (vm.isCardExtendShow && (vm.cardExtDisplayId === card.nodeId))" 
                class="short-card-container">
                <fixt-card-view details-click="vm.onCardDetailsClick(card.nodeId)"
                    details="card" hierarchy-click="vm.onCardHierarchyClick(card.nodeId)"
                    close-click="vm.onCloseClick(card)"></fixt-card-view>
            </div>
        </div>
    </div>
</div>